i {
    font-size: 35px;
    margin-right: 5px;
    color:#50B5FF;
  }

p {
    font-size: 20px ;
    margin-top: 12.5px;
    margin-left: 12.5px;
  }
h4 {
    font-size: 20px;
    margin-top:auto;
    margin-bottom:auto;
  }