<div class="container">
    <div class="row">
       <div class="col">




        <div class="iq-card">
            <div class="iq-card-body profile-page p-0">
               <div class="profile-header">
                  <div class="cover-container"> 
                       <img   [src]="this.accountService.coverProfile" alt="profile-bg" class="rounded img-fluid"> 
                     <ul class="header-nav d-flex flex-wrap justify-end p-0 m-0">
                        <li><span (click)="onClickOnUploadCoverPersonalInformation()" class="cursor-pointer custom-round"  ><i class="ri-pencil-line"></i></span></li>
                        <li><span (click)="onClickToGoEditAccount()"   class="cursor-pointer custom-round"   ><i class="ri-settings-4-line"></i></span></li>
                     </ul>
                  </div>



                  <div style="width: auto;" class="user-detail text-center mb-3">
                     <!-- <div class="profile-img">
                           <img   [src]="this.accountService.photoProfile" alt="profile-img" class="avatar-130 img-fluid circle box-shad" /> 
                        </div>-->
                        <div class="photo-profile-container circle box-shad">
                           <img   [src]="this.accountService.photoProfile" alt="photo-profile-container"  />
                        </div>
                           
                     <div class="profile-detail">
                        <h3 class="">{{this.accountService.accountDto.firstname}} {{this.accountService.accountDto.lastname}}</h3>
                     </div>
                  </div>



                  <div class="profile-info p-4 d-flex align-items-center justify-content-between position-relative">
                     <div class="social-links">
                        <ul class="social-data-block d-flex align-items-center justify-content-between list-inline p-0 m-0">
                           <li class="text-center pr-3">
                              <a href="https://www.facebook.com/"><img src="assets/images/icon/08.png" class="img-fluid rounded" alt="facebook"></a>
                           </li>
                           <li class="text-center pr-3">
                              <a href="https://www.google.com/intl/fr/gmail/about/"><img src="assets/images/icon/11.png" class="img-fluid rounded" alt="Google plus"></a>
                           </li>
                           <li class="text-center pr-3">
                              <a href="https://www.linkedin.com"><img src="assets/images/icon/13.png" class="img-fluid rounded" alt="linkedin"></a>
                           </li>
                        </ul>
                     </div>
                     <div class="social-info">
                        <ul class="social-data-block d-flex align-items-center justify-content-between list-inline p-0 m-0">
                           <li class="text-center pl-3">
                              <h6>Posts</h6>
                              <p class="mb-0">690</p>
                           </li>
                           <li class="text-center pl-3">
                              <h6>Vue</h6>
                              <p class="mb-0">100</p>
                           </li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </div>







      </div>







      <div class="col-sm-12">
         <div class="iq-card-body p-0">
            <div class="row">
               <div class="col-lg-5">

                  <div class="iq-card">
                     <div class="iq-card-header d-flex justify-content-between">
                        <div class="iq-header-title">
                           <h4 class="card-title">Contact Information</h4>
                        </div>
                     </div>
                     <div class="iq-card-body">
                        <div class="row">
                           <div class="col-3">
                              <h6>Email</h6>
                           </div>
                           <div class="col-9">
                              <p class="mb-0">{{this.accountService.accountDto.email}}</p>
                           </div>
                           <div class="col-3">
                              <h6>LinkedIn</h6>
                           </div>
                           <div class="col-9">
                              <p class="mb-0">{{this.accountService.accountDto.linkedIn}}</p>
                           </div>
                           <div class="col-3">
                              <h6>Phone</h6>
                           </div>
                           <div class="col-9">
                              <p class="mb-0">(+216) {{this.accountService.accountDto.phone}}</p>
                           </div>
                           <div class="col-3">
                              <h6>State</h6>
                           </div>
                           <div class="col-9">
                              <p class="mb-0">{{this.accountService.accountDto.state}}</p>
                           </div>
                           <div class="col-3">
                              <h6>City</h6>
                           </div>
                           <div class="col-9">
                              <p class="mb-0">{{this.accountService.accountDto.city}}</p>
                           </div>
                           <div class="col-3">
                              <h6>Zip Code</h6>
                           </div>
                           <div class="col-9">
                              <p class="mb-0">{{this.accountService.accountDto.zipCode}}</p>
                           </div>
                           <div class="col-3">
                              <h6>Address</h6>
                           </div>
                           <div class="col-9">
                              <p class="mb-0">{{this.accountService.accountDto.address}}</p>
                           </div>
                        </div>
                     </div>
                  </div>

                  <div class="iq-card">
                     <div class="iq-card-header d-flex justify-content-between">
                        <div class="iq-header-title">
                           <h4 class="card-title">Basic Information</h4>
                        </div>
                     </div>
                     <div class="iq-card-body">
                        <div class="row">
                           <div class="col-3">
                              <h6>Firstname</h6>
                           </div>
                           <div class="col-9">
                              <p class="mb-0">{{this.accountService.accountDto.firstname}}</p>
                           </div>
                           <div class="col-3">
                              <h6>Lastname</h6>
                           </div>
                           <div class="col-9">
                              <p class="mb-0">{{this.accountService.accountDto.lastname}}</p>
                           </div>
                           <div class="col-3">
                              <h6>Date of birth</h6>
                           </div>
                           <div class="col-9">
                              <p class="mb-0">{{this.accountService.accountDto.dateOfBirth}}</p>
                           </div> 
                           <div class="col-3">
                              <h6>Gender</h6>
                           </div>
                           <div class="col-9">
                              <p class="mb-0">{{this.accountService.accountDto.gender}}</p>
                           </div>  
                        </div>
                     </div>
                  </div>  
 
               </div>
               <div class="col-lg-7">
                  <app-post-recruitment-offer  
                  *ngFor="let applyonoffer of this.applyonofferService.ListApplyOnOffersDto " 
                  [recruitmentOfferDto]="applyonoffer.recruitmentOffer" ></app-post-recruitment-offer>
               </div>
            </div>
         </div>
      </div>


    </div>
</div>

<app-message-box-response *ngIf="this.stateMsgBoxAuth" 
[state]="this.stateMsgBoxAuth"
[msgReponse]="this.authService.msgReponseStatusDto"
(onCloseEvent)="closeEventstateMsgBoxAuth($event)" ></app-message-box-response> 


<app-message-box-upload-img
*ngIf="this.stateMsgBoxUploadImgCoverPersonalInformation" 
[state]="this.stateMsgBoxUploadImgCoverPersonalInformation"
title="Uploading" text='Uploading a Cover to your profile'
(onYesNoEvent)="onYesNoEventUploadCoverImgPersonalInformation($event)"
(fileValidate)="uploadCoverProfile($event)"
></app-message-box-upload-img>