<!--<p>sign-up works!</p>-->
      <!-- Sign up Start -->
      <section class="sign-in-page">
        <div id="container-inside">
            <div id="circle-small"></div>
            <div id="circle-medium"></div>
            <div id="circle-large"></div>
            <div id="circle-xlarge"></div>
            <div id="circle-xxlarge"></div>
        </div>
          <div class="container p-0">
              <div class="row no-gutters">
                  <div class="col-md-6 text-center pt-5">
                      <div class="sign-in-detail text-white">
                        <!--  <a class="sign-in-logo mb-5" href="#"><img src="assets/images/logo-full.png" class="img-fluid" alt="logo"></a>-->
                          <div class="owl-carousel" data-autoplay="true" data-loop="true" data-nav="false" data-dots="true" data-items="1" data-items-laptop="1" data-items-tab="1" data-items-mobile="1" data-items-mobile-sm="1" data-margin="0">
                              <div class="item">
                                  <img src="assets/images/login/1.png" class="img-fluid mb-4" alt="logo">
                                  <h4 class="mb-1 text-white">Manage your orders</h4>
                                  <p>It is a long established fact that a reader will be distracted by the readable content.</p>
                              </div>
                              <div class="item">
                                  <img src="assets/images/login/1.png" class="img-fluid mb-4" alt="logo">
                                  <h4 class="mb-1 text-white">Manage your orders</h4>
                                  <p>It is a long established fact that a reader will be distracted by the readable content.</p>
                              </div>
                              <div class="item">
                                  <img src="assets/images/login/1.png" class="img-fluid mb-4" alt="logo">
                                  <h4 class="mb-1 text-white">Manage your orders</h4>
                                  <p>It is a long established fact that a reader will be distracted by the readable content.</p>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-6 bg-white pt-5">
                      <div class="sign-in-from">
                          <h1 class="mb-0">Reset Password</h1>
                          <p class="mt-xl-5">We've enhanced our 'Forgot Password' form with an added layer of security. Now, along with your email, you can set a 'New Password' and 'Confirm New Password' directly in the form. This added step ensures a secure password reset process. Plus, we've included a 'Reset' button, allowing you to easily start over if needed.</p>
 

                          <form #updateForgotPasswordForm = "ngForm" (ngSubmit)="resetPassword(updateForgotPasswordForm)" class="mt-4" [appSameValueValidatorDirective]="['update-forgot-password', 'update-forgot-confirm-password']" >

                            <div class="form-group">
                                <label for="update-forgot-input-password">Password</label>
                                <input type="password" placeholder="Enter Password" class="form-control mb-0"
                                id="update-forgot-input-password" name="update-forgot-password"
                                [(ngModel)]="newPassword" 
                                #password="ngModel" minlength="8"  required>
                                <div class="invalid" *ngIf="updateForgotPasswordForm.invalid || updateForgotPasswordForm.submitted || ( password.invalid && password.touched) " >
                                  <p  *ngIf="password.errors?.['required']"> Please enter a password in the text input</p>
                                  <p  *ngIf="password.errors?.['minlength']"> minimum must be 8 characters.</p>
                                  </div> 
                               <div class="valid" *ngIf="confirmPassword.valid && confirmPassword.touched && updateForgotPasswordForm.valid" >
                                  <p >password validate.</p>
                               </div> 
                            </div>
                            <div class="form-group">
                              <label for="update-forgot-input-confirm-password">Confirm Password</label>
                              <input type="password" placeholder="Enter Confirm Password" class="form-control mb-0"
                              id="update-forgot-input-confirm-password" name="update-forgot-confirm-password"
                              [(ngModel)]="valodatePassword"  
                              #confirmPassword="ngModel" minlength="8"  required>
                              <div class="invalid" *ngIf="updateForgotPasswordForm.invalid || updateForgotPasswordForm.submitted || ( confirmPassword.invalid && confirmPassword.touched) " >
                                <p  *ngIf="confirmPassword.errors?.['required']"> Please enter a validate password in the text input</p>
                                <p  *ngIf="confirmPassword.errors?.['minlength']"> minimum must be 8 characters.</p>
                                <p  *ngIf="updateForgotPasswordForm.errors?.['notEqual']"> New Password and  validate Password should be the same !</p>
                            </div> 
                             <div class="valid" *ngIf="confirmPassword.valid && confirmPassword.touched && updateForgotPasswordForm.valid" >
                                <p >password validate.</p>
                             </div> 
                          </div>

                            <div class="d-inline-block w-100"> 
                                <button  type="submit" class="btn btn-primary float-right">Reset</button>
                            </div>
                              <div class="sign-info">
                                  <span class="dark-color d-inline-block line-height-2">Already Have Account ? <strong (click)="signIn()">Log In</strong></span>
                              </div>
                          </form>
                      </div>
                  </div>
              </div>
          </div>
      </section>
      <!-- Sign up END -->
     <app-message-box-response *ngIf="this.stateMsgBoxAuth" 
      [state]="this.stateMsgBoxAuth"
      title="title"
      [msgReponse]="this.authService.msgReponseStatusDto"
      (onCloseEvent)="closeEventstateMsgBoxAuth($event)" ></app-message-box-response> 
 


 
