.header-for-bg { margin-top: 0px; margin-bottom: 0px; }

.cover-container { 
    position: relative;
    height: 100px;
    overflow: hidden;
 }
 .cover-container img {
    width: auto; 
    height: auto; 
  }

.custom-profile-img {  position: relative;  margin-top: -70px; width: 110px;  height: 110px;  overflow: hidden;   }
.custom-profile-img img {
	width: 100%;
	width: 100%;
  }