<!--<p>sign-in works!</p>-->
        <!-- Sign in Start -->
        <section class="sign-in-page">
            <div id="container-inside">
                <div id="circle-small"></div>
                <div id="circle-medium"></div>
                <div id="circle-large"></div>
                <div id="circle-xlarge"></div>
                <div id="circle-xxlarge"></div>
            </div>
              <div class="container p-0">
                  <div class="row no-gutters">
                      <div class="col-md-6 text-center pt-5">
                          <div class="sign-in-detail text-white">
                              <!--<a class="sign-in-logo mb-5" href="#"><img src="assets/images/logo-full.png" class="img-fluid" alt="logo"></a>-->
                              <div class="owl-carousel" data-autoplay="true" data-loop="true" data-nav="false" data-dots="true" data-items="1" data-items-laptop="1" data-items-tab="1" data-items-mobile="1" data-items-mobile-sm="1" data-margin="0">
                                  <div class="item">
                                      <img src="assets/images/login/1.png" class="img-fluid mb-4" alt="logo">
                                      <h4 class="mb-1 text-white">Find new friends</h4>
                                      <p>It is a long established fact that a reader will be distracted by the readable content.</p>
                                  </div>
                                  <div class="item">
                                      <img src="assets/images/login/2.png" class="img-fluid mb-4" alt="logo"> 
                                      <h4 class="mb-1 text-white">Connect with the world</h4>
                                      <p>It is a long established fact that a reader will be distracted by the readable content.</p>
                                  </div>
                                  <div class="item">
                                      <img src="assets/images/login/3.png" class="img-fluid mb-4" alt="logo">
                                      <h4 class="mb-1 text-white">Create new events</h4>
                                      <p>It is a long established fact that a reader will be distracted by the readable content.</p>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-6 bg-white pt-5">
                          <div class="sign-in-from">
                              <h1 class="mb-0">Forgot password</h1>
                              <p class="mt-xl-5"  >If you forget password, they can easily reset it by enter username and email address then clicking the "send" link on below page. They will aconfirmation email will be sent to that address. This email will contain a link to a page where the user can enter a new password. It's important to remember to choose a strong, unique password that can't be easily guessed or hacked.</p>
                         
                              <form  #forgotpasswordForm = "ngForm" (ngSubmit)="onClickForgotPassword(forgotpasswordForm)" class="mt-4 " >
                                <div class="form-group">
                                    <label for="forgot-password-input-username">Username</label>
                                    <input type="text" placeholder="Enter Username" class="form-control mb-0 ng-untouched ng-pristine ng-invalid" 
                                           id="forgot-password-input-username" name="forgot-password-username"
                                           [(ngModel)]="authService.authRequestDto.username"  
                                           #username="ngModel"  required>
                                   <div class="invalid"  *ngIf="forgotpasswordForm.submitted || ( username.invalid && username.touched) " >
                                     <p *ngIf="username.errors?.['required']"> Please enter a username in the text input</p>
                                  </div> 
                                  <div class="valid" *ngIf="username.valid && username.touched" >
                                     <p>username valid</p>
                                  </div>  
                                </div> 
                                <div class="form-group">
                                    <label for="forgot-password-input-email">Email address</label>
                                    <input type="email" placeholder="Enter email" class="form-control mb-0 ng-untouched ng-pristine ng-invalid" 
                                    id="forgot-password-input-email" name="forgot-password-email"
                                    [(ngModel)]="authService.authRequestDto.email"  
                                   #email="ngModel" pattern="^[a-z0-9]+@+[a-z0-9]+\.+[a-z]{3}$"  required>
                                   <div class="invalid"  *ngIf="forgotpasswordForm.submitted || ( email.invalid && email.touched) " >
                                     <p *ngIf="email.errors?.['required']|| email.errors?.['pattern']"> Please enter a email in the text input and pattern must be like abc@gmail.com</p>
                                  </div> 
                                  <div class="valid" *ngIf="email.valid && email.touched" >
                                     <p>email valid</p>
                                  </div>  
                                </div> 
                                <div class="d-inline-block w-100">
                                    <div class="custom-control custom-checkbox d-inline-block mt-2 pt-1">
                                        <input type="checkbox" class="custom-control-input" id="customCheck1">
                                    </div>
                                    <button   type="submit" class="btn btn-primary float-right">Send</button>
                                </div>
                                <div class="sign-info">
                                    <span class="dark-color d-inline-block line-height-2">Already Have Password ? <strong (click)="signIn()">Sign-In</strong></span>
                                    <ul class="iq-social-media">
                                        <li><a href="#"><i class="ri-facebook-box-line"></i></a></li>
                                        <li><a href="#"><i class="ri-twitter-line"></i></a></li>
                                        <li><a href="#"><i class="ri-instagram-line"></i></a></li>
                                    </ul>
                                </div>
                            </form>
                          </div>
                      </div>
                  </div>
              </div>
          </section>
          <!-- Sign in END -->
     <app-message-box-response *ngIf="this.stateMsgBoxAuth" 
     [state]="this.stateMsgBoxAuth"
     title="title"
     [msgReponse]="this.authService.msgReponseStatusDto"
     (onCloseEvent)="closeEventstateMsgBoxAuth($event)" ></app-message-box-response> 